<div class="container">
  <div class="col-md-12">
  <h3 class="page-header"><b>Resend confirmation instructions</b></h3>
  <div class="edit_form edit_account">

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Resend confirmation instructions", class: 'btn btn-info' %><br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
</div>
</div>
