<div class="container">
  <div class="col-md-2">
    <%= link_to "https://wordpress.com/log-in?client_id=1854&redirect_to=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D2950a717a6112faa78afea905ccc18d267caafc4b5b19d03cd8d63be5b6694de%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token" do %>
      <%= image_tag current_user.avatar_url(128), class: 'gig-gravatar grav' %>
    <% end %>
  </div>
<div class="col-md-10">
  <h3 class="page-header"><b>Edit Account</b></h3>

<div class="edit_form edit_account">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

     <div class="field form-group">
       <%= f.label :username %><br />
       <%= f.text_field :username, class: 'form-control', autofocus: true %>
     </div>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Update", class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
<div class="edit_form edit_account" style="padding: 20px;">
  <% unless current_user.bios.count > 0 %>
    <%= form_for bio_path(current_user), method: :post, as: :bio do |f| %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.submit "Save Bio", class: 'btn btn-info buttttt' %>
    <% end %>
  <% else %>
    <%= form_for Bio.find(current_user.bios[0].id), method: :put do |f| %>
      <%= f.text_area :description, value: "#{current_user.bios[0].description}", class: 'form-control' %>
      <%= f.submit "Update Bio", class: 'btn btn-info butttt' %>
    <% end %>
  <% end %>
</div>
</div>
