<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="page-header conversations1-header">
        <%= link_to new_conversation_path, class: 'btn btn-sm btn-info convo-btn pull-right' do %>
          <span class="glyphicon glyphicon-pencil"></span> New
        <% end %>
        <h3><b>All Conversations</b></h3>
      </div>

      <div class="conversation-scroll" style="overflow-y: scroll; overflow-x: hidden; height:400px; margin-bottom:20px;">
        <% @conversations.each do |conversation| %>
          <div class="row">
            <div class="col-md-10">
              <div class="conversations1">
                <%= link_to conversation.subject, conversation_path(conversation) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 messages1">
      <div class="page-header">
        <h3><b>New Conversation</b></h3>
      </div>

  <div class="convo-container">
      <%= form_tag conversations_path, method: :post do %>
        <div class="form-group convo-recipients">
          <%= label_tag :recipients %>
          <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :username), class: 'form-control chosen-it', multiple: true %>
        </div>

        <div class="form-group convo-recipients">
          <%= label_tag :subject %>
          <%= text_field_tag :subject, nil, placeholder: "Type your subject", class: 'form-control', required: true %>
        </div>

        <div class="form-group convo-recipients">
          <%= label_tag :message %>
          <%= text_area_tag :body, nil, placeholder: "Type your message", class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= submit_tag "Send Message", class: 'btn btn-info form-control' %>
        </div>
      <% end %>
    </div>

    </div>

  </div>

  <script>
    $('.chosen-it').chosen();
  </script>
</div>
