<!-- The Modal -->
<div id="myPopup" class="myPopup">

 <!-- Modal content -->
 <div class="modal-content text-center">
   <span class="close">&times;</span>
   <h1 class="text-center"><b>Start here...</b></h1>
   <hr>
   <% if current_user %>
     <div class="btn btn-info dif buttt"><%= link_to "Create", new_user_gig_path(current_user.id) %></div><br><br>
   <% else %>
     <div class="btn btn-info dif buttt"><%= link_to "Create", new_user_registration_path %></div><br><br>
   <% end %>
   <div class="btn btn-info dif buttt"><%= link_to "Build Together", gigs_path %></div>
 </div>

</div>

<div id="myModal" class="modal">

    <iframe class="youtube-video" height="50%" width="90%" src="https://drive.google.com/file/d/1CUQUjv-jiGyf7bKDVEeNWm9RucufveKl/preview" frameborder="0" allowfullscreen></iframe>

</div>

<div class="index-main">
  <div class="container">
    <div class="col-md-7 index-main-text">
      <h1 class="index-main-header">Marketplace for Creators<br> and Events of All Kinds<br></h1>
      <p class="index-secondary-text">Work with Artist, musicians, web developers, freelance writers, photographers, videographers and much more in your area or across the globe online</p>
      <div data-turbolinks="false">
        <%= link_to "Browse Gigs and Events", gigs_path, class: 'btn btn-info main-button' %><br>
      </div>
      <% unless current_user %>
        <p style="color: white;"><%= link_to "sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %></p>
      <% end %>
    </div>
    <div class="col-md-5 no-mobile">
      <img src="https://image.ibb.co/c2CTb7/mockup.png" class="main-image" height="600px;"/>
    </div>
  </div>
</div>
<div class="search">
  <div class="container search-container">
    <%= form_tag gigs_path, method: :get, class: 'search-form' do %>
      <p>
        <div class="autocomplete form-group col-md-6">
          <%= text_field_tag :search, params[:search], class: 'form-control home-search typeahead', placeholder: "Search", autocomplete: :off %>
        </div>
        <div class="form-group col-md-3">
          <%= text_field_tag :location, params[:location], class: 'form-control home-search', placeholder: "Location" %>
        </div>
        <div class="form-group col-md-1">
          <%= select_tag :radius, options_for_select(['10', '25', '50', '75', '100', '200']), class: 'form-control home-search' %>
          Distance/Mileage
        </div>
        <div class="form-group">
          <%= submit_tag "Search", name: nil, class: "btn btn-info search-submit home-search" %>
        </div>
      </p>
    <% end %>
  </div>
</div>
<div style="padding-bottom: 50px;">
  <div class="container">
    <div class="col-md-12 bottom text-center">
      <div id="myBtn"><img src="https://image.ibb.co/gOMHgT/play_button.png" /></div>

      <h2 class="text-center"><b>Click the video above to check out the website walkthrough!</b></h2>
    </div>
    <div class="text-center no-mobile">
      <div class="col-md-4 index-box" >
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/fnLouH/team.png" height= 50px; /><br>
        Build Together<br>
      </div>
      <div class="col-md-4 index-box">
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/kG0hMx/calendar.png" height= 50px; /><br>
        Create or schedule <br>your future events
      </div>
      <div class="col-md-4 index-box">
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/mmL4ZH/speech_bubble.png" height= 50px; /><br>
        Maintain professionalism and prompt timing<br> for amazing reviews and top tier ratings
      </div>
    </div>
  </div>
</div>
<div style="background-color: white; padding-top: 20px;">
  <div class="container index-cont">
    <div class="col-md-4">
      <img src="https://image.ibb.co/dFmmqo/880902371735180999.jpg" height= '300px' width="300px" style="border-radius: 50%"/>
    </div>
    <div class="col-md-8 right2">
      <h2 class="text-center" style="font-weight: bold;">Get connected with local creators and<br> events in your area.</h2>
    </div>
  </div>
</div>
<div style="background-color: white; padding-bottom: 20px;">
  <div class="container index-cont">
    <hr>
    <div class="col-md-4">
      <img src="https://image.ibb.co/isA9jH/ODRADI0.jpg" height= '300px' width="300px" style="border-radius: 50%"/>
    </div>
    <div class="col-md-8 right2 text-center">
      <h2 style="font-weight: bold;">Join the hottest competition online!<br> Click the link below to get started.</h2>
      <%= link_to "Join Now!", new_user_registration_path, class: 'no-rad buttt btn btn-info' %>
    </div>
  </div>
</div>
<script>
var ready;
ready = function() {
  var input = document.getElementById('location');
  autocomplete = new google.maps.places.Autocomplete(input, {types: ['geocode']});
  google.maps.event.addListener(autocomplete, 'place_changed', function(){
    var place = autocomplete.getPlace();
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);

var modal = document.getElementById('myModal');

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the modal
var popup = document.getElementById('myPopup');

// Get the button that opens the modal
var popupbtn = document.getElementById("myPopupBtn");

// When the user clicks on the button, open the modal
setTimeout(function() {
  popup.style.display = "block";
}, 20000);

var closeit = document.getElementById("myModal");

// When the user clicks on <span> (x), close the modal
closeit.onclick = function() {
    modal.style.display = "none";
    $('.youtube-video')[0].src="";
    $('.youtube-video')[0].src="https://drive.google.com/file/d/1CUQUjv-jiGyf7bKDVEeNWm9RucufveKl/preview";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    popup.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        popup.style.display = "none";
    }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjbcZiWF7waJt5NkAYWxvr06JKJWVNaJc&libraries=places"></script>

<script>
var countries = ['Web Developer', 'Web Development',
'Graphic Designer', 'Graphic Design', 'Singer', 'Musician', 'Music', 'Logo Design', 'Web Designer', 'Web Design', 'Logo', 'Song', 'Digital Marketing',
'Marketing', 'Advertise', 'Advertisement', 'Video', 'Animation', 'Animate', 'Photographer', 'Photography', 'Sports', 'Fitness', 'Fun', 'Lifestyle', 'Programming', 'Tech', 'Writing', 'Write', 'Translation', 'Translate', "App", "Artist",
"App Developer", "Apple", "Artificial", "Beauty", "Build", "Brand", "Business", "Bar", "Cars", "Create", "Contest", "Composer", "Communications", "Developer", "Dance", "DJ", "Dietician", "Dog", "Education", "Electronics",
"Entertainment", "Enterprise", "Events", "Fitness", "Film", "Foundation", "Fast", "Gig", "Gamble", "Girls", "Guys", "Gear", "Hotels", "Hot Spot", "Hard Rock", "Housekeeping", "Hobbyist", "Instrument", "Insomnia", "Image",
"Ice", "Improv", "Janitorial", "Jobs", "Jokes", "Joy", "Jump", "Karaoke", "Kayaking", "Kite", "Keeper", "Key", "Live", "Learn", "Lights", "Life Coach", "Lyrics", "Music", "Musician", "Marketing",
"Movements", "Motivation", "New", "Novice", "Non-Profits", "Number", "Newsman", "Opera", "Operation", "Observatories", "Opportunity", "Occupation", "Party Planning", "Parks", "Partner", "People", "Politics",
"Quote", "Questions", "Queen", "Quest", "Quilting", "Restaurants", "Radio", "Recreation", "Representative", "Republican", "Services", "Server", "Surf", "Sales", "Sports",
"Teacher", "Tutor", "Treatments", "Tatto shop", "Travel", "Universities", "Use", "Utilities", "Urban", "Uber", "Video", "Videographer", "Voice", "Volume", "Visionary", "Work", "Watch", "Wellness", "Welder", "Welding",
"Xenagogy", "Xesturgy", "Xerox", "Xyst", "Xenon", "Yoga", "Yodeling", "You", "Year", "Yesterday", "Zoo", "Zone", "Zip", "Zero", "Zap"]
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

autocomplete(document.getElementById("search"), countries);
</script>
