<div id="myModal" class="modal">

    <span class="close">&times;</span>
    <iframe height="50%" width="90%" src="https://drive.google.com/file/d/1CUQUjv-jiGyf7bKDVEeNWm9RucufveKl/preview" frameborder="0" allowfullscreen></iframe>

</div>

<div class="index-main">
  <div class="container">
    <div class="col-md-6 index-main-text">
      <h1 class="index-main-header">Gig Marketplace<br> For Creators of all Kinds<br></h1>
      <p class="index-secondary-text">Work with creators in your area or across the globe online</p>
      <%= link_to "Browse Gigs and Events", gigs_path, class: 'btn btn-info main-button' %><br>
      <% unless current_user %>
        <p style="color: white;"><%= link_to "sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %></p>
      <% end %>
    </div>
    <div class="col-md-6 no-mobile">
      <img src="https://image.ibb.co/c2CTb7/mockup.png" class="main-image" height="600px;"/>
    </div>
  </div>
</div>
<div class="search">
  <div class="container search-container">
    <%= form_tag gigs_path, method: :get, class: 'search-form' do %>
      <p>
        <div class="form-group col-md-6">
          <%= text_field_tag :search, params[:search], class: 'form-control home-search', placeholder: "Search" %>
        </div>
        <div class="form-group col-md-3">
          <%= text_field_tag :location, params[:location], class: 'form-control home-search', placeholder: "Location" %>
        </div>
        <div class="form-group col-md-1">
          <%= select_tag :radius, options_for_select(['10', '25', '50', '75', '100', '200']), class: 'form-control home-search' %>
          Distance/Mileage
        </div>
        <div class="form-group">
          <%= submit_tag "Search", name: nil, class: "btn btn-info search-submit home-search" %>
        </div>
      </p>
    <% end %>
  </div>
</div>
<div style="padding-bottom: 50px;">
  <div class="container">
    <div class="col-md-12 bottom text-center">
      <div id="myBtn"><img src="https://image.ibb.co/gOMHgT/play_button.png" /></div>

      <h2 class="text-center"><b>Click the video above to check out the website walkthrough!</b></h2>
    </div>
    <div class="text-center no-mobile">
      <div class="col-md-4 index-box" >
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/fnLouH/team.png" height= 50px; /><br>
        Build Together<br>
      </div>
      <div class="col-md-4 index-box">
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/kG0hMx/calendar.png" height= 50px; /><br>
        Create or schedule <br>your future events
      </div>
      <div class="col-md-4 index-box">
        <img style="margin-bottom: 10px;" src="https://image.ibb.co/mmL4ZH/speech_bubble.png" height= 50px; /><br>
        Maintain professionalism and prompt timing<br> for amazing reviews and top tier ratings
      </div>
    </div>
  </div>
</div>
<div style="background-color: white; padding-top: 20px;">
  <div class="container index-cont">
    <div class="col-md-4">
      <img src="https://image.ibb.co/dFmmqo/880902371735180999.jpg" height= '300px' width="300px" style="border-radius: 50%"/>
    </div>
    <div class="col-md-8 right2">
      <h2 class="text-center" style="font-weight: bold;">Get connected with local creators and<br> events in your area.</h2>
    </div>
  </div>
</div>
<div style="background-color: white; padding-bottom: 20px;">
  <div class="container index-cont">
    <hr>
    <div class="col-md-4">
      <img src="https://image.ibb.co/isA9jH/ODRADI0.jpg" height= '300px' width="300px" style="border-radius: 50%"/>
    </div>
    <div class="col-md-8 right2 text-center">
      <h2 style="font-weight: bold;">Join the hottest competition online!<br> Click the link below to get started.</h2>
      <%= link_to "Join Now!", new_user_session_path, class: 'no-rad buttt btn btn-info' %>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjbcZiWF7waJt5NkAYWxvr06JKJWVNaJc&libraries=places"></script>
<script>
$(document).on('turbolinks:load', function() {
    var input = document.getElementById('location');
    autocomplete = new google.maps.places.Autocomplete(input, {types: ['geocode']});
    google.maps.event.addListener(autocomplete, 'place_changed', function(){
      var place = autocomplete.getPlace();
    });
});
</script>

<script>
var modal = document.getElementById('myModal');

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
