<div class="buyer col-md-10 col-md-push-2">
  <h3 class="page-header"><b>
    Favorites <span class="badge"><%= @favorites.count %></span>
  </b></h3>
  <div class="row" style="overflow: auto; white-space: nowrap;">
    <% @favorites.each do |favorite| %>
      <div class="col-md-4 col-sm-8 col-xs-12" style="display: inline-block; float: none;">
        <%= link_to Gig.where(id: favorite.gig_id)[0] do %>
          <div class="index-image">
            <% if Gig.where(id: favorite.gig_id)[0].gallery[0].to_s.exclude?("mp4") %>
              <%= image_tag Gig.where(id: favorite.gig_id)[0].gallery[0], width: '100%', class: 'act-image' %>
            <% else %>
              <%= video_tag Gig.where(id: favorite.gig_id)[0].gallery[0], width: '100%', class: 'act-image' %>
            <% end %>
          </div>
        <% end %>
          <div class="index-card">
            <div class="row index-user">
              <div class="rating pull-right">
                <% if Review.where(gig_id: favorite.gig.id).count > 0 %>
                  <%= link_to gig_reviews_path(favorite.gig), class: 'rating-gig-show' do %>
                    <% review_average(favorite.gig.id).to_i.times do %>
                      <img src="https://image.ibb.co/h7zAic/flash_5.png" />
                    <% end %>
                    <% (5 - review_average(favorite.gig.id)).to_i.times do %>
                      <img src="https://image.ibb.co/k2ExBx/flash_3.png" />
                    <% end %>
                  <% end %>
                <% else %>
                  No reviews yet
                <% end %>
              </div>
              <%= image_tag favorite.user.avatar_url(28), class: 'gig-gravatar' %>
              <span class="gig-username"><%= link_to "#{favorite.user.username}", user_path(favorite.user.id) %></span>
            </div>

            <div style="overflow: hidden;"><p class="index-title"><%= link_to "#{Gig.where(id: favorite.gig_id)[0].title}", Gig.where(id: favorite.gig_id)[0] %></p></div>
          <% unless Gig.where(id: favorite.gig_id)[0].allow == "Online Only" %>
            <span class="glyphicon glyphicon-pushpin"></span> <%= Gig.where(id: favorite.gig_id)[0].location %>
          <% else %>
          <span class="glyphicon glyphicon-pushpin"></span> Online Only, No Meetups
          <% end %>
          <hr>
          <h3 class="pull-left" style="width: 50px; margin-top: 6px;"><b>$<%= favorite.gig.price.floor %></b></h3>
          <span class="pull-right">
            <% if current_user %>
              <%= render partial: 'favorites/favorite', locals: { gig: favorite.gig } %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
