<div class="seller col-md-10 col-md-push-2">
  <h3 class="page-header"><b>
    Your posts <span class="badge"><%= @gigs.count %></span>
  </b></h3>
  <div class="row" style="overflow: auto; white-space: nowrap;">
    <% @gigs.each do |gig| %>
      <div class="col-md-4 col-sm-8 col-xs-12" style="display: inline-block; float: none;">
        <%= link_to gig do %>
          <div class="index-image">
            <% if gig.gallery[0].to_s.exclude?("mp4") %>
              <%= image_tag gig.gallery[0], width: '100%', class: 'act-image' %>
            <% else %>
              <%= video_tag gig.gallery[0], width: '100%', class: 'act-image' %>
            <% end %>
          </div>
        <% end %>
          <div class="index-card">
            <div class="row index-user">
              <div class="rating pull-right">
                <% if Review.where(gig_id: gig.id).count > 0 %>
                <%= link_to gig_reviews_path(gig), class: 'rating-gig-show' do %>
                  <% review_average(gig.id).to_i.times do %>
                    <img src="https://image.ibb.co/h7zAic/flash_5.png" />
                  <% end %>
                  <% (5 - review_average(gig.id)).to_i.times do %>
                    <img src="https://image.ibb.co/k2ExBx/flash_3.png" />
                  <% end %>
                <% end %>
                <% else %>
                  No reviews yet
                <% end %>
              </div>
              <%= image_tag gig.user.avatar_url(28), class: 'gig-gravatar' %>
              <%= link_to "#{gig.user.username}", user_path(gig.user.id) %>
            </div>
            <div style="overflow: hidden;"><p class="index-title"><%= link_to "#{gig.title}", gig %></p></div>
          <% unless gig.allow == "Online Only" %>
            <span class="glyphicon glyphicon-map-marker"></span> <%= gig.location %>
          <% else %>
          <span class="glyphicon glyphicon-map-marker"></span> Online Only, No Meetups
          <% end %>
          <hr>
          <h3><b>$50</b></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
