<div class="buyer buyer-receipt col-md-10">
  <h3 class="page-header"><b>
    Purchases <span class="badge"><%= current_user.receipts.count %></span> <small class="show-buyer-receipt" style="cursor: pointer;">show</small><small class="hide-buyer-receipt" style="display: none; cursor: pointer;">hide</small>
  </b></h3>
  <div class="receipt-container-buyer" style="display: none;">
    <% current_user.receipts.each do |receipt| %>
      <div class="col-md-12 purchased-gig">
        <div class="row one">
          <div class="purchased-title pull-left">
            <% if receipt.gig.event == true %>
              <b>Event:</b> <%= link_to "#{receipt.gig.title}", receipt.gig %><br>
            <% else %>
              <b>Gig:</b> <%= link_to "#{receipt.gig.title}", receipt.gig %><br>
            <% end %>
          </div>
        </div>
        <div class="row one">
          <b>Seller:</b> <%= link_to "#{receipt.gig.user.username}", user_path(receipt.gig.user.id) %>
        </div>
        <div class="row two">
          <small><%= time_ago_in_words(receipt.created_at) %> ago for <b>$<% amt = receipt.amount.to_s %><%= amt.chomp('00.0') %>.00</small></b>
        </div>
        <div class="row one">
          <hr>
          <div class="pull-left">
            <% if receipt.completed == false && receipt.gig.event != true %>
              <%= link_to "Mark as Complete", receipt, method: :put, remote: true, class: 'btn btn-xs btn-warning', data: { confirm: "Are you sure you want to mark this gig as complete? Make sure you received what you paid for as this action cannot be undone. Continue?" } %>
            <% else %>
            <div>
            <% if Review.where(gig_id: receipt.gig.id).count > 0 %>
            <%= link_to gig_reviews_path(receipt.gig), class: 'rating-gig-show' do %>
              <% review_average(receipt.gig.id).to_i.times do %>
                <img src="https://image.ibb.co/h7zAic/flash_5.png" />
              <% end %>
              <% (5 - review_average(receipt.gig.id)).to_i.times do %>
                <img src="https://image.ibb.co/k2ExBx/flash_3.png" />
              <% end %>
            <% end %>
            <% else %>
              No reviews yet
            <% end %>
            <% if can_write_review(receipt.gig.id) %>
              <%= link_to "Write a review", gig_reviews_path(receipt.gig), class: 'btn btn-xs btn-info' %>
            <% end %>
            </div>
            <% end %>
          </div>
          <div class="pull-right">
            <b>Status:</b>
          <% if receipt.completed == false %>
            <div class="btn btn-xs btn-info" style="cursor: default; margin-left: 5px;">In Process</div>
          <% else %>
            <div class="btn btn-xs btn-success" style="cursor: default;">Complete</div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.hide-buyer-receipt').click(function(){
    $('.receipt-container-buyer').hide();
    $('.hide-buyer-receipt').hide();
    $('.show-buyer-receipt').show();
  });
  $('.show-buyer-receipt').click(function(){
    $('.receipt-container-buyer').show();
    $('.hide-buyer-receipt').show();
    $('.show-buyer-receipt').hide();
  });
</script>
