<div class="container">
  <div class="col-md-12">
  <h3 class="page-header"><b>Login</b></h3>
    <div class="edit_form edit_account">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Login", class: 'btn btn-info' %><br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>

</div>
