<%= form_for form_config do |f| %>
  <% if @gig.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@gig.errors.count, "error") %>.</h4>
      <ul>
        <% @gig.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, list_of_categories, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter a title for your gig - e.g. Web Developer" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: "Enter a description for your gig - Include as many details as possible" %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_time %>
    <%= f.select :delivery_time, delivery_time, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :allow %>
    <%= f.select :allow, ["Online or Meetups", "Online Only", "Meetups Only"], class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :gallery, "Gallery (CTRL + CLICK to select multiple images)" %>
    <%= f.file_field :gallery, multiple: true %>
  </div>
  <div class="form-group location-form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class:"form-control", placeholder: "Start typing your location..." %>
  </div>
  <div class="form-group">
    <%= f.submit submit_button, class:"btn btn-info" %>
  </div>
<% end %>
