<div class="row">
  <div class="col-md-12 search-text">
    <div class="inside">
      <div class="search-row">
        <%= form_tag gigs_path, method: :get, class: 'search-form' do %>
          <p>
            <div class="form-group col-md-6">
              <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search" %>
            </div>
            <div class="form-group col-md-3">
              <%= text_field_tag :location, params[:location], class: 'form-control', placeholder: "Location" %>
            </div>
            <div class="form-group col-md-2">
              <%= select_tag :radius, options_for_select(['10', '25', '50', '75', '100', '200']), class: 'form-control' %>
            </div>
            <%= submit_tag "Search", name: nil, class: "btn btn-info" %>
          </p>
        <% end %>
      </div>
     </div>
     <%= render partial: 'index_search_text' %>
  </div>
  <%= paginate(@gigs) %>
</div>
<div class="row">
<% @gigs.each do |gig| %>
  <div class="col-md-4 col-sm-8 col-xs-12">
    <%= link_to gig do %>
      <div class="index-image">
        <% if gig.gallery[0].to_s.exclude?("mp4") %>
          <%= image_tag gig.gallery[0], width: '100%', class: 'act-image' %>
        <% else %>
          <%= video_tag gig.gallery[0], width: '100%', class: 'act-image' %>
        <% end %>
      </div>
    <% end %>
      <div class="index-card">
        <div class="index-user">
          <%= image_tag gig.user.avatar_url(28), class: 'gig-gravatar' %>
          <%= gig.user.username %>
          <div class="rating pull-right">
            <% 5.times do %>
              <i class="fas fa-bolt"></i>
            <% end %>
            <p style="color: black; display: inline;">(5)</p>
          </div>
        </div>
        <p class="index-title"><%= link_to "#{gig.title}", gig %></p>
      <% unless gig.allow == "Online Only" %>
        <i class="fas fa-map-marker-alt"></i> <%= gig.location %>
      <% else %>
      <i class="fas fa-map-marker-alt"></i> Online Only, No Meetups
      <% end %>
      <hr>
      <h3><b>$50</b></h3>
    </div>
  </div>
<% end %>
</div>
<%= paginate(@gigs) %>
