<!DOCTYPE html>
<html>
  <head>
    <title>Unique Innovators</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body class="<%= controller_name %> <%= action_name %>">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Unique Innovators" src="https://image.ibb.co/joU96n/imageedit_5_8038223847.png" data-turbolinks="false" height="60px">
          </a>
        </div>

        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav">
            <li data-turbolinks="false"><%= link_to "Home", welcome_index_path %></li>
            <li><%= link_to "Blog", buttercms_blog_path %></li>
            <% if Competition.find_by(active: true) %>
              <li><%= link_to "Competition", competition_path(Competition.find_by(active: true).id) %></li>
            <% end %>
            <li class="work-with"><%= link_to "Work With Us", contacts_path %></li>
          </ul>
        <% unless user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Dashboard", "/users/dashboard/#{current_user.id }" %></li>
            <li>
              <%= link_to conversations_path do %>
                <% if current_user.mailbox.inbox(unread: true).count > 0 %>
                  <img src="https://image.ibb.co/mEcUmx/idea_1.png"> Messages
                <% else %>
                  Messages
                <% end %>
              <% end %>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> My Account
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-username"><%= image_tag current_user.avatar_url(48), class: 'nav-avatar' %>
                  <%= current_user.username %></li>
                  <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <div class="divider"></div>
                <li><%= link_to "Dashboard", "/users/dashboard/#{ current_user.id }" %></li>
                  <li><%= link_to "Messages", conversations_path %></li>
                <div class="divider"></div>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </div>
              </ul>
            </li>
          </ul>
       <% end %>
       </div>

      </div>
    </nav>

    <% if flash[:notice] %>
      <div id="notice_wrapper">
        <p class="notice"><%= flash[:notice] %></p>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper_alert">
        <p class="notice"><%= flash[:alert] %></p>
      </div>
    <% end %>

    <% if current_user %>
      <% unless params[:controller] == "devise/confirmations" %>
        <% if current_user.requires_confirmation? %>
        <div id="notice_wrapper_info">
          <div class="info">
            <p>Please check your email (<u><%= current_user.email %></u>) to confirm your account! <%= link_to "Resend", new_user_confirmation_path, class: "resend" %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="container" style="margin-top: 0px !important;">
    </div>
    <%= yield %>


    <footer>
      <div class="footer-1">
        <%= link_to "https://facebook.com/uniqueinnovate" do %>
          <img src="https://image.ibb.co/cFmLb7/facebook.png" />
        <% end %>
        <%= link_to "https://twitter.com/uniqueinnovate" do %>
          <img src="https://image.ibb.co/gjyE8n/twitter_1.png" />
        <% end %>
        <%= link_to "https://www.instagram.com/uniqueinnovators/" do %>
          <img src="https://image.ibb.co/eAc7Tn/instagram.png" />
        <% end %>
        <%= link_to "https://www.youtube.com/channel/UCccSxpAUcAEYCxKYKJFFJow" do %>
          <img src="https://image.ibb.co/bFbdWT/youtube.png" />
        <% end %>
        <%= link_to "https://snaptageditor.com/userData/snapcodesEdited/uniqueinnovator.png" do %>
          <img src="https://image.ibb.co/ntF4Ao/snapchat.png" />
        <% end %>

      </div>
      <div class="footer-2">
        <p>Unique Innovators © 2018 | All Rights Reserved</p>
      </div>
    </footer>

    <script>
      $(document).on('turbolinks:load', function() {
        setTimeout(function(){
          $('#notice_wrapper').fadeOut('slow', function() {
            $(this).remove();
          });
          $('#notice_wrapper_alert').fadeOut('slow', function() {
            $(this).remove();
          });
        }, 4500);
      });
    </script>

  </body>
</html>
